<!doctype html>
<html>
  <%= partial "partials/head" %>
  <body>
    <div class="main-body">
      <%= partial "partials/navbar" %>
      <header class="row" style= "margin: 2.5% 0 2.5% 0; border-bottom: solid #eee 4px">
          <div class="col-md-10 col-md-offset-1">
            <%= current_page.data.title %>
          </div>
      </header>
      <article>
        <section class="row">
          <div class="col-md-3 col-md-offset-1">

            <% link_to current_page.data.image do %>
              <img src="<%= current_page.data.image %>" class="img-fluid rounded">
            <% end %>

          </div>
          <div class="col-md-8">
            <%= yield %>
          </div>
        </section>
      </article>
    </div>
    <%= partial 'partials/javascript' %>
  </body>
</html>
