<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mutant.City!<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <%= stylesheet_link_tag 'bundle' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Raleway" %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  </head>
  <body>

    <div class="container-fluid">
      <%= partial "partials/navbar" %>
      <article>
        <header class="row" style= "margin: 2.5% 0 2.5% 0; border-bottom: solid #eee 4px">
          <div class="col-md-10 col-md-offset-1">
            Aboot
          </div>
        </header>
        <section class="row">
          <div class="col-md-3 col-md-offset-1">
            <% link_to current_page.data.image do %>
              <img src="<%= current_page.data.image %>" class="img-fluid rounded">
            <% end %>
          </div>
          <div class="col-md-8">
            <%= yield %>
          </div>
        </section>
      </article>
    </div>

    <%= javascript_include_tag 'bundle.js' %>
  </body>
</html>
