<article class="row" style="padding: 2.5% 0 2.5% 0; border-bottom: solid #eee 4px">
  <div class="col-md-3">
    <% link_to article do %>
    <div class="tape">
      <img src="<%= article.data.image %>" class="img-fluid rounded img-0-z-index blog-img-border">
    <% end %>
  </div>
  </div>

  <div class="col-md-9">
    <%= link_to article.title, article %><br/>
    <small>
      <span><%= article.date.strftime('%b %e') %> by
        <%= link_to article.data.author, "#" %>
    </small>
    <hr/>
      <%= article.summary(500) %>
      <%= link_to "(more...)", article %>
  </div>


</article>
