---
pageable: true
per_page: 10
---


  <% page_articles.each_with_index do |article, i| %>
    <%= partial('partials/article_summary', :locals =>{:article=>article})%>
  <% end %>


  <% if paginate && num_pages > 1 %>

    <% if prev_page %>
      <span><%= link_to 'Previous page', prev_page %></span>
    <% end %>
  <% end %>

  <span>Page <%= page_number %> of <%= num_pages %></span>


  <% if paginate %>
    <% if next_page %>
      <span><%= link_to 'Next page', next_page %></span>
    <% end %>
  <% end %>
